asgiref==3.5.0
backports.zoneinfo==0.2.1
Django==4.0.4
django-environ==0.8.1
flake8==4.0.1
gunicorn==20.1.0
mccabe==0.6.1
psycopg2==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
sqlparse==0.4.2
Pillow==10.2.0